body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.gim {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    background-color: #444;
}

.footer {
    text-align: center;
    font-size: 15px;
}
.tenshop {
    float: left;
    padding: 12px 14px;
}

.tenshop-name a {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.fb img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.customer {
    float: right;
    font-size: 16px;
    padding: 12px 14px;
}
.customer a {
    text-decoration: none;
    color: black;
}
.basket {
    float: right;
    margin-top: 10px;
}
.basket img {
    width: 40px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    overflow: hidden;
    margin-top: -10px;
    float: left;
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.nav a {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 14px 16px;
}
.nav a:hover {
    background: brown;
}
.thoitrang {
    float: left;
}
.thoitrang-btn:hover {
    background-color: brown;
}
.thoitrang-btn {
    padding: 14px 16px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #444;
    cursor: pointer;
}
.thoitrang:hover .thoitrang-list {
    display: block;
    background-color: brown;
    width: 100%;
    left: 0;
}
.thoitrang-list a:hover {
    background-color: white;
}
.thoitrang:hover .thoitrang-btn {
    background-color: brown;
}
.thoitrang-list {
    position: absolute;
    display: none;
}
.thoitrang-list a {
    padding: 14px 50px;
    text-align: center;
    background-color: brown;
    display: block;
}
.dogiadung {
    float: left;
}
.dogiadung:hover .dogiadung-btn {
    background-color: brown;
}
.dogiadung-btn:hover {
    background-color: brown;
}
.dogiadung-btn {
    padding: 14px 16px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #444;
    cursor: pointer;
}

.dogiadung:hover .dogiadung-list {
    display: block;
    background-color: brown;
    width: 100%;
    left: 0;
}
.dogiadung-list a:hover {
    background-color: white;
}
.dogiadung-list {
    display: none;
    position: absolute;
}
.dogiadung-list a {
    padding: 14px 50px;
    background-color: brown;
    text-align: center;
}
.lamdep {
    float: left;
}
.lamdep:hover .lamdep-btn {
    background-color: brown;
}
.lamdep-btn:hover {
    background-color: brown;
}
.lamdep-btn {
    padding: 14px 16px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #444;
    cursor: pointer;
}
.lamdep:hover .lamdep-list {
    display: block;
    background-color: brown;
    width: 100%;
    left: 0;
}
.lamdep-list a:hover {
    background-color: white;
}
.lamdep-list {
    display: none;
    position: absolute;
}
.lamdep-list a {
    text-align: center;
    padding: 14px 50px;
    background-color: brown;
}
.suckhoe {
    float: left;
}
.suckhoe-btn:hover {
    background-color: brown;
}
.suckhoe:hover .suckhoe-btn {
    background-color: brown;
}
.suckhoe-btn {
    padding: 14px 16px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #444;
    cursor: pointer;
}
.suckhoe:hover .suckhoe-list {
    display: block;
    background-color: brown;
    width: 100%;
    left: 0;
}
.suckhoe-list {
    display: none;
    position: absolute;
}
.suckhoe-list a:hover {
    background-color: white;
}
.suckhoe-list a {
    text-align: center;
    padding: 14px 50px;
    background-color: brown;
}
.search {
    background-color: #444;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input {
    margin-top: 10px;
    border-radius: 5px;
    width: 700px;
    height: 50px;
    font-size: 20px;
}
.search button {
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.chuchay {
    font-size: 16px;
    background-color: brown;
}
/* chỗ này tính từ slideshow trở xuống */
.slideshow {
    float: left;
    width: 100%;
}
.slides img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.prev {
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    padding: 10px;
}
.prev:hover {
    background-color: brown;
}
.next {
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding: 10px;
}
.next:hover {
    background-color: brown;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #444;
    border-radius: 50%;
    margin: 5px 10px;
}
.active,
.dot:hover {
    background-color: brown;
}
@media screen and (max-width: 800px) {
    .customer {
        font-size: 14px;
    }
    .nav {
        width: 100%;
        right: 0;
    }
    .nav a {
        font-size: 16px;
        text-align: center;
    }
    .nav button {
        font-size: 16px;
    }
    .search {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search input {
        width: 75%;
    }
    .search button {
        width: 20%;
    }
}
